@import "../../globalStyles/config.scss";

.pageDivision {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding: 0;
  margin: 0;
  padding-left: $pageHorizontalPadding;
  padding-right: $pageHorizontalPadding;
}
