@import "../../globalStyles/config.scss";

.imageStyle {
  max-width: 25%;
  max-height: 25%;
  border-radius: 50%;
}

.infoFormatter {
  text-align: center;
  margin: 0;
}

.socialMedia {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
  }

  > li:first-child {
    margin-top: 0;
  }
}

.contentStyle {
  color: $textColor;
  list-style-type: none;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem;
  }

  > li:first-child {
    padding-top: $topPadding;
    margin-top: 0;
  }
}

@include small-screen {
  .socialMedia {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    > li {
      margin: 0 1rem;
      margin-top: 1rem;
    }

    > li:first-child {
      margin-top: 1rem;
    }
  }
}

@include medium-screen {
  .imageStyle {
    max-width: 75%;
    max-height: 75%;
    border-radius: 50%;
  }

  .contentStyle {
    color: $textColor;
    position: fixed;
    width: $personalInfoWidth;
    list-style-type: none;
    padding: 0;
    padding-right: 2rem;

    > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.25rem;
    }

    > li:first-child {
      padding-top: $topPadding;
      margin-top: 0;
    }
  }

  .socialMedia {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.25rem;
    }

    > li:first-child {
      margin-top: 0;
    }
  }
}
