$personalInfoWidth: 15rem;
$topPadding: 1rem;
$borderStyle: 1px solid yellow;
$textColor: #fff;
$hoverColor: #ff0;
$pageHorizontalPadding: 3rem;
$pageContentTitleFontSize: 1.2rem;

.reactIconAlign {
  vertical-align: middle;
  padding-right: 1rem;
}

.linkStyle {
  color: $textColor;
  transition: color 0.5s ease 0s;
  cursor: default;

  .linkWrapper:hover & {
    color: $hoverColor;
    cursor: pointer;
  }
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
