$personalInfoWidth: 15rem;
$topPadding: 1rem;
$borderStyle: 1px solid yellow;
$textColor: #fff;
$hoverColor: #ff0;
$pageHorizontalPadding: 3rem;
$pageContentTitleFontSize: 1.2rem;

@mixin medium-screen {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin big-screen {
  @media (min-width: 1176px) {
    @content;
  }
}

@mixin list-md-breakpoint {
  @media (min-width: 876px) {
    @content;
  }
}

@mixin list-sm-breakpoint {
  @media (min-width: 440px) {
    @content;
  }
}

@mixin small-screen {
  @media (min-width: 320px) {
    @content;
  }
}

.reactIconAlign {
  vertical-align: middle;
  padding-right: 1rem;
}

.linkStyle {
  color: $textColor;
  transition: color 0.5s ease 0s;
  cursor: default;

  .linkWrapper:hover & {
    color: $hoverColor;
    cursor: pointer;
  }
}

.itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
