@import "../../globalStyles/config.scss";

.contentStyle {
  text-align: center;
}

.linkStyle {
  color: $textColor;
  transition: color 0.5s ease 0s;

  .linkWrapper:hover & {
    color: $hoverColor;
  }
}

.noUnderscore {
  text-decoration: none;
  cursor: default;
}

.fakeIconStyle {
  height: 2.5rem;
  width: 2.5rem;
}
