@import "../../globalStyles/config.scss";

.itemStyle {
  margin: 0.5rem;
  flex: 0 1 45%;
}

@include list-md-breakpoint {
  .itemStyle {
    margin: 0.5rem;
    flex: 0 1 30%;
  }
}

@include big-screen {
  .itemStyle {
    margin: 0.5rem;
    flex: 0 1 20%;
  }
}

.localIconAlign {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.5rem;
}

.localFakeIconAlign {
  vertical-align: middle;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.invertColor {
  filter: invert(100%);
}
