@import "../../globalStyles/config.scss";

.contentStyle {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  color: $textColor;
  font-size: 2rem;
  border-top: $borderStyle;
  background: url(../../assets/images/background-image.png);
  padding: 0.5em;
}

.iconLink {
  flex: 0 1 20%;
}
