@import "../../globalStyles/config.scss";

.contentStyle {
  margin-left: $personalInfoWidth;
  min-height: 100vh;
  padding-left: 2rem;
  padding-top: $topPadding;
  color: $textColor;
  border-left: $borderStyle;
}
