@import "../../globalStyles/config.scss";

.contentStyle {
  min-height: 100vh;
  padding-top: $topPadding;
  color: $textColor;
}

@include medium-screen {
  .contentStyle {
    margin-left: $personalInfoWidth;
    padding-left: 2rem;
    border-left: $borderStyle;
  }
}
