@import "../../globalStyles/config.scss";

.itemStyle {
  margin: 0.5rem;
  flex: 0 1 100%;
}

@include list-md-breakpoint {
  .itemStyle {
    margin: 0.5rem;
    flex: 0 1 40%;
  }
}

@include big-screen {
  .itemStyle {
    margin: 0.5rem;
    flex: 0 1 30%;
  }
}

.underline {
  text-decoration: underline;
}

.checkMarkPadding {
  padding-right: 0.5rem;
}
