<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      html {
        box-sizing: border-box;
        background: url("<%= require('./assets/images/background-image.jpeg').default %>");
        width: 100%;
        height: 100%;
        font-size: 16px;
      }
      body {
          width: 100%;
          height: 100%;
          margin: 0px;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
