@import "../../globalStyles/config.scss";

.contentStyle {
  text-align: center;
}

.noUnderscore {
  text-decoration: none;
  cursor: default;
}

.fakeIconStyle {
  height: 2.5rem;
  width: 2.5rem;
}
